<meta property="og:image" content="http:/test.tld/images/favicon/opengraph.png" />
<meta name="msapplication-square310x310logo" content="images/favicon/windows-tile-310x310.png" />
<link rel="icon" sizes="228x228" href="images/favicon/coast-icon-228x228.png" />
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png" />
<meta name="mobile-web-app-capable" content="yes" />
<link rel="icon" sizes="192x192" href="images/favicon/homescreen-192x192.png" />
<meta name="msapplication-TileImage" content="images/favicon/windows-tile-144x144.png" />
<meta name="msapplication-square150x150logo" content="images/favicon/windows-tile-150x150.png" />
<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" sizes="196x196" href="images/favicon/favicon-196x196.png" />
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png" />
<link rel="icon" type="image/png" sizes="160x160" href="images/favicon/favicon-160x160.png" />
<meta name="msapplication-square70x70logo" content="images/favicon/windows-tile-70x70.png" />
<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png" />
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png" />
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png" />
<link rel="shortcut icon" href="images/favicon/favicon.ico" />