/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$anger4-x: 512px;
$anger4-y: 0px;
$anger4-offset-x: -512px;
$anger4-offset-y: 0px;
$anger4-width: 512px;
$anger4-height: 512px;
$anger4-total-width: 5120px;
$anger4-total-height: 5120px;
$anger4-image: '../images/sprite.png';
$anger4: 512px 0px -512px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$anger5-x: 3584px;
$anger5-y: 512px;
$anger5-offset-x: -3584px;
$anger5-offset-y: -512px;
$anger5-width: 512px;
$anger5-height: 512px;
$anger5-total-width: 5120px;
$anger5-total-height: 5120px;
$anger5-image: '../images/sprite.png';
$anger5: 3584px 512px -3584px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$angry18-x: 0px;
$angry18-y: 512px;
$angry18-offset-x: 0px;
$angry18-offset-y: -512px;
$angry18-width: 512px;
$angry18-height: 512px;
$angry18-total-width: 5120px;
$angry18-total-height: 5120px;
$angry18-image: '../images/sprite.png';
$angry18: 0px 512px 0px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$angry19-x: 512px;
$angry19-y: 512px;
$angry19-offset-x: -512px;
$angry19-offset-y: -512px;
$angry19-width: 512px;
$angry19-height: 512px;
$angry19-total-width: 5120px;
$angry19-total-height: 5120px;
$angry19-image: '../images/sprite.png';
$angry19: 512px 512px -512px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$angry20-x: 1024px;
$angry20-y: 0px;
$angry20-offset-x: -1024px;
$angry20-offset-y: 0px;
$angry20-width: 512px;
$angry20-height: 512px;
$angry20-total-width: 5120px;
$angry20-total-height: 5120px;
$angry20-image: '../images/sprite.png';
$angry20: 1024px 0px -1024px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$angry21-x: 1024px;
$angry21-y: 512px;
$angry21-offset-x: -1024px;
$angry21-offset-y: -512px;
$angry21-width: 512px;
$angry21-height: 512px;
$angry21-total-width: 5120px;
$angry21-total-height: 5120px;
$angry21-image: '../images/sprite.png';
$angry21: 1024px 512px -1024px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$angry22-x: 0px;
$angry22-y: 1024px;
$angry22-offset-x: 0px;
$angry22-offset-y: -1024px;
$angry22-width: 512px;
$angry22-height: 512px;
$angry22-total-width: 5120px;
$angry22-total-height: 5120px;
$angry22-image: '../images/sprite.png';
$angry22: 0px 1024px 0px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$annulled2-x: 512px;
$annulled2-y: 1024px;
$annulled2-offset-x: -512px;
$annulled2-offset-y: -1024px;
$annulled2-width: 512px;
$annulled2-height: 512px;
$annulled2-total-width: 5120px;
$annulled2-total-height: 5120px;
$annulled2-image: '../images/sprite.png';
$annulled2: 512px 1024px -512px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$bad4-x: 1024px;
$bad4-y: 1024px;
$bad4-offset-x: -1024px;
$bad4-offset-y: -1024px;
$bad4-width: 512px;
$bad4-height: 512px;
$bad4-total-width: 5120px;
$bad4-total-height: 5120px;
$bad4-image: '../images/sprite.png';
$bad4: 1024px 1024px -1024px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$black266-x: 1536px;
$black266-y: 0px;
$black266-offset-x: -1536px;
$black266-offset-y: 0px;
$black266-width: 512px;
$black266-height: 512px;
$black266-total-width: 5120px;
$black266-total-height: 5120px;
$black266-image: '../images/sprite.png';
$black266: 1536px 0px -1536px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$crying6-x: 1536px;
$crying6-y: 512px;
$crying6-offset-x: -1536px;
$crying6-offset-y: -512px;
$crying6-width: 512px;
$crying6-height: 512px;
$crying6-total-width: 5120px;
$crying6-total-height: 5120px;
$crying6-image: '../images/sprite.png';
$crying6: 1536px 512px -1536px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$disappointed2-x: 1536px;
$disappointed2-y: 1024px;
$disappointed2-offset-x: -1536px;
$disappointed2-offset-y: -1024px;
$disappointed2-width: 512px;
$disappointed2-height: 512px;
$disappointed2-total-width: 5120px;
$disappointed2-total-height: 5120px;
$disappointed2-image: '../images/sprite.png';
$disappointed2: 1536px 1024px -1536px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$disgusted2-x: 0px;
$disgusted2-y: 1536px;
$disgusted2-offset-x: 0px;
$disgusted2-offset-y: -1536px;
$disgusted2-width: 512px;
$disgusted2-height: 512px;
$disgusted2-total-width: 5120px;
$disgusted2-total-height: 5120px;
$disgusted2-image: '../images/sprite.png';
$disgusted2: 0px 1536px 0px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$doubt2-x: 512px;
$doubt2-y: 1536px;
$doubt2-offset-x: -512px;
$doubt2-offset-y: -1536px;
$doubt2-width: 512px;
$doubt2-height: 512px;
$doubt2-total-width: 5120px;
$doubt2-total-height: 5120px;
$doubt2-image: '../images/sprite.png';
$doubt2: 512px 1536px -512px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon59-x: 1024px;
$emoticon59-y: 1536px;
$emoticon59-offset-x: -1024px;
$emoticon59-offset-y: -1536px;
$emoticon59-width: 512px;
$emoticon59-height: 512px;
$emoticon59-total-width: 5120px;
$emoticon59-total-height: 5120px;
$emoticon59-image: '../images/sprite.png';
$emoticon59: 1024px 1536px -1024px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon60-x: 1536px;
$emoticon60-y: 1536px;
$emoticon60-offset-x: -1536px;
$emoticon60-offset-y: -1536px;
$emoticon60-width: 512px;
$emoticon60-height: 512px;
$emoticon60-total-width: 5120px;
$emoticon60-total-height: 5120px;
$emoticon60-image: '../images/sprite.png';
$emoticon60: 1536px 1536px -1536px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon61-x: 2048px;
$emoticon61-y: 0px;
$emoticon61-offset-x: -2048px;
$emoticon61-offset-y: 0px;
$emoticon61-width: 512px;
$emoticon61-height: 512px;
$emoticon61-total-width: 5120px;
$emoticon61-total-height: 5120px;
$emoticon61-image: '../images/sprite.png';
$emoticon61: 2048px 0px -2048px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon62-x: 2048px;
$emoticon62-y: 512px;
$emoticon62-offset-x: -2048px;
$emoticon62-offset-y: -512px;
$emoticon62-width: 512px;
$emoticon62-height: 512px;
$emoticon62-total-width: 5120px;
$emoticon62-total-height: 5120px;
$emoticon62-image: '../images/sprite.png';
$emoticon62: 2048px 512px -2048px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon63-x: 2048px;
$emoticon63-y: 1024px;
$emoticon63-offset-x: -2048px;
$emoticon63-offset-y: -1024px;
$emoticon63-width: 512px;
$emoticon63-height: 512px;
$emoticon63-total-width: 5120px;
$emoticon63-total-height: 5120px;
$emoticon63-image: '../images/sprite.png';
$emoticon63: 2048px 1024px -2048px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon64-x: 2048px;
$emoticon64-y: 1536px;
$emoticon64-offset-x: -2048px;
$emoticon64-offset-y: -1536px;
$emoticon64-width: 512px;
$emoticon64-height: 512px;
$emoticon64-total-width: 5120px;
$emoticon64-total-height: 5120px;
$emoticon64-image: '../images/sprite.png';
$emoticon64: 2048px 1536px -2048px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon65-x: 0px;
$emoticon65-y: 2048px;
$emoticon65-offset-x: 0px;
$emoticon65-offset-y: -2048px;
$emoticon65-width: 512px;
$emoticon65-height: 512px;
$emoticon65-total-width: 5120px;
$emoticon65-total-height: 5120px;
$emoticon65-image: '../images/sprite.png';
$emoticon65: 0px 2048px 0px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon66-x: 512px;
$emoticon66-y: 2048px;
$emoticon66-offset-x: -512px;
$emoticon66-offset-y: -2048px;
$emoticon66-width: 512px;
$emoticon66-height: 512px;
$emoticon66-total-width: 5120px;
$emoticon66-total-height: 5120px;
$emoticon66-image: '../images/sprite.png';
$emoticon66: 512px 2048px -512px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon67-x: 1024px;
$emoticon67-y: 2048px;
$emoticon67-offset-x: -1024px;
$emoticon67-offset-y: -2048px;
$emoticon67-width: 512px;
$emoticon67-height: 512px;
$emoticon67-total-width: 5120px;
$emoticon67-total-height: 5120px;
$emoticon67-image: '../images/sprite.png';
$emoticon67: 1024px 2048px -1024px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon68-x: 1536px;
$emoticon68-y: 2048px;
$emoticon68-offset-x: -1536px;
$emoticon68-offset-y: -2048px;
$emoticon68-width: 512px;
$emoticon68-height: 512px;
$emoticon68-total-width: 5120px;
$emoticon68-total-height: 5120px;
$emoticon68-image: '../images/sprite.png';
$emoticon68: 1536px 2048px -1536px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon69-x: 2048px;
$emoticon69-y: 2048px;
$emoticon69-offset-x: -2048px;
$emoticon69-offset-y: -2048px;
$emoticon69-width: 512px;
$emoticon69-height: 512px;
$emoticon69-total-width: 5120px;
$emoticon69-total-height: 5120px;
$emoticon69-image: '../images/sprite.png';
$emoticon69: 2048px 2048px -2048px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon70-x: 2560px;
$emoticon70-y: 0px;
$emoticon70-offset-x: -2560px;
$emoticon70-offset-y: 0px;
$emoticon70-width: 512px;
$emoticon70-height: 512px;
$emoticon70-total-width: 5120px;
$emoticon70-total-height: 5120px;
$emoticon70-image: '../images/sprite.png';
$emoticon70: 2560px 0px -2560px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon71-x: 2560px;
$emoticon71-y: 512px;
$emoticon71-offset-x: -2560px;
$emoticon71-offset-y: -512px;
$emoticon71-width: 512px;
$emoticon71-height: 512px;
$emoticon71-total-width: 5120px;
$emoticon71-total-height: 5120px;
$emoticon71-image: '../images/sprite.png';
$emoticon71: 2560px 512px -2560px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon72-x: 2560px;
$emoticon72-y: 1024px;
$emoticon72-offset-x: -2560px;
$emoticon72-offset-y: -1024px;
$emoticon72-width: 512px;
$emoticon72-height: 512px;
$emoticon72-total-width: 5120px;
$emoticon72-total-height: 5120px;
$emoticon72-image: '../images/sprite.png';
$emoticon72: 2560px 1024px -2560px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon73-x: 2560px;
$emoticon73-y: 1536px;
$emoticon73-offset-x: -2560px;
$emoticon73-offset-y: -1536px;
$emoticon73-width: 512px;
$emoticon73-height: 512px;
$emoticon73-total-width: 5120px;
$emoticon73-total-height: 5120px;
$emoticon73-image: '../images/sprite.png';
$emoticon73: 2560px 1536px -2560px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon74-x: 2560px;
$emoticon74-y: 2048px;
$emoticon74-offset-x: -2560px;
$emoticon74-offset-y: -2048px;
$emoticon74-width: 512px;
$emoticon74-height: 512px;
$emoticon74-total-width: 5120px;
$emoticon74-total-height: 5120px;
$emoticon74-image: '../images/sprite.png';
$emoticon74: 2560px 2048px -2560px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon75-x: 0px;
$emoticon75-y: 2560px;
$emoticon75-offset-x: 0px;
$emoticon75-offset-y: -2560px;
$emoticon75-width: 512px;
$emoticon75-height: 512px;
$emoticon75-total-width: 5120px;
$emoticon75-total-height: 5120px;
$emoticon75-image: '../images/sprite.png';
$emoticon75: 0px 2560px 0px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon76-x: 512px;
$emoticon76-y: 2560px;
$emoticon76-offset-x: -512px;
$emoticon76-offset-y: -2560px;
$emoticon76-width: 512px;
$emoticon76-height: 512px;
$emoticon76-total-width: 5120px;
$emoticon76-total-height: 5120px;
$emoticon76-image: '../images/sprite.png';
$emoticon76: 512px 2560px -512px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon77-x: 1024px;
$emoticon77-y: 2560px;
$emoticon77-offset-x: -1024px;
$emoticon77-offset-y: -2560px;
$emoticon77-width: 512px;
$emoticon77-height: 512px;
$emoticon77-total-width: 5120px;
$emoticon77-total-height: 5120px;
$emoticon77-image: '../images/sprite.png';
$emoticon77: 1024px 2560px -1024px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon78-x: 1536px;
$emoticon78-y: 2560px;
$emoticon78-offset-x: -1536px;
$emoticon78-offset-y: -2560px;
$emoticon78-width: 512px;
$emoticon78-height: 512px;
$emoticon78-total-width: 5120px;
$emoticon78-total-height: 5120px;
$emoticon78-image: '../images/sprite.png';
$emoticon78: 1536px 2560px -1536px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon79-x: 2048px;
$emoticon79-y: 2560px;
$emoticon79-offset-x: -2048px;
$emoticon79-offset-y: -2560px;
$emoticon79-width: 512px;
$emoticon79-height: 512px;
$emoticon79-total-width: 5120px;
$emoticon79-total-height: 5120px;
$emoticon79-image: '../images/sprite.png';
$emoticon79: 2048px 2560px -2048px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticon80-x: 2560px;
$emoticon80-y: 2560px;
$emoticon80-offset-x: -2560px;
$emoticon80-offset-y: -2560px;
$emoticon80-width: 512px;
$emoticon80-height: 512px;
$emoticon80-total-width: 5120px;
$emoticon80-total-height: 5120px;
$emoticon80-image: '../images/sprite.png';
$emoticon80: 2560px 2560px -2560px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticons6-x: 3072px;
$emoticons6-y: 0px;
$emoticons6-offset-x: -3072px;
$emoticons6-offset-y: 0px;
$emoticons6-width: 512px;
$emoticons6-height: 512px;
$emoticons6-total-width: 5120px;
$emoticons6-total-height: 5120px;
$emoticons6-image: '../images/sprite.png';
$emoticons6: 3072px 0px -3072px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticons7-x: 3072px;
$emoticons7-y: 512px;
$emoticons7-offset-x: -3072px;
$emoticons7-offset-y: -512px;
$emoticons7-width: 512px;
$emoticons7-height: 512px;
$emoticons7-total-width: 5120px;
$emoticons7-total-height: 5120px;
$emoticons7-image: '../images/sprite.png';
$emoticons7: 3072px 512px -3072px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$emoticons8-x: 3072px;
$emoticons8-y: 1024px;
$emoticons8-offset-x: -3072px;
$emoticons8-offset-y: -1024px;
$emoticons8-width: 512px;
$emoticons8-height: 512px;
$emoticons8-total-width: 5120px;
$emoticons8-total-height: 5120px;
$emoticons8-image: '../images/sprite.png';
$emoticons8: 3072px 1024px -3072px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$evil5-x: 3072px;
$evil5-y: 1536px;
$evil5-offset-x: -3072px;
$evil5-offset-y: -1536px;
$evil5-width: 512px;
$evil5-height: 512px;
$evil5-total-width: 5120px;
$evil5-total-height: 5120px;
$evil5-image: '../images/sprite.png';
$evil5: 3072px 1536px -3072px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$furious2-x: 3072px;
$furious2-y: 2048px;
$furious2-offset-x: -3072px;
$furious2-offset-y: -2048px;
$furious2-width: 512px;
$furious2-height: 512px;
$furious2-total-width: 5120px;
$furious2-total-height: 5120px;
$furious2-image: '../images/sprite.png';
$furious2: 3072px 2048px -3072px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$happy31-x: 3072px;
$happy31-y: 2560px;
$happy31-offset-x: -3072px;
$happy31-offset-y: -2560px;
$happy31-width: 512px;
$happy31-height: 512px;
$happy31-total-width: 5120px;
$happy31-total-height: 5120px;
$happy31-image: '../images/sprite.png';
$happy31: 3072px 2560px -3072px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$happy32-x: 0px;
$happy32-y: 3072px;
$happy32-offset-x: 0px;
$happy32-offset-y: -3072px;
$happy32-width: 512px;
$happy32-height: 512px;
$happy32-total-width: 5120px;
$happy32-total-height: 5120px;
$happy32-image: '../images/sprite.png';
$happy32: 0px 3072px 0px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$happy33-x: 512px;
$happy33-y: 3072px;
$happy33-offset-x: -512px;
$happy33-offset-y: -3072px;
$happy33-width: 512px;
$happy33-height: 512px;
$happy33-total-width: 5120px;
$happy33-total-height: 5120px;
$happy33-image: '../images/sprite.png';
$happy33: 512px 3072px -512px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$happy34-x: 1024px;
$happy34-y: 3072px;
$happy34-offset-x: -1024px;
$happy34-offset-y: -3072px;
$happy34-width: 512px;
$happy34-height: 512px;
$happy34-total-width: 5120px;
$happy34-total-height: 5120px;
$happy34-image: '../images/sprite.png';
$happy34: 1024px 3072px -1024px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$happy35-x: 1536px;
$happy35-y: 3072px;
$happy35-offset-x: -1536px;
$happy35-offset-y: -3072px;
$happy35-width: 512px;
$happy35-height: 512px;
$happy35-total-width: 5120px;
$happy35-total-height: 5120px;
$happy35-image: '../images/sprite.png';
$happy35: 1536px 3072px -1536px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$happy36-x: 2048px;
$happy36-y: 3072px;
$happy36-offset-x: -2048px;
$happy36-offset-y: -3072px;
$happy36-width: 512px;
$happy36-height: 512px;
$happy36-total-width: 5120px;
$happy36-total-height: 5120px;
$happy36-image: '../images/sprite.png';
$happy36: 2048px 3072px -2048px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$happy37-x: 2560px;
$happy37-y: 3072px;
$happy37-offset-x: -2560px;
$happy37-offset-y: -3072px;
$happy37-width: 512px;
$happy37-height: 512px;
$happy37-total-width: 5120px;
$happy37-total-height: 5120px;
$happy37-image: '../images/sprite.png';
$happy37: 2560px 3072px -2560px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$intellectual2-x: 3072px;
$intellectual2-y: 3072px;
$intellectual2-offset-x: -3072px;
$intellectual2-offset-y: -3072px;
$intellectual2-width: 512px;
$intellectual2-height: 512px;
$intellectual2-total-width: 5120px;
$intellectual2-total-height: 5120px;
$intellectual2-image: '../images/sprite.png';
$intellectual2: 3072px 3072px -3072px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$male194-x: 3584px;
$male194-y: 0px;
$male194-offset-x: -3584px;
$male194-offset-y: 0px;
$male194-width: 512px;
$male194-height: 512px;
$male194-total-width: 5120px;
$male194-total-height: 5120px;
$male194-image: '../images/sprite.png';
$male194: 3584px 0px -3584px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$mute22-x: 0px;
$mute22-y: 0px;
$mute22-offset-x: 0px;
$mute22-offset-y: 0px;
$mute22-width: 512px;
$mute22-height: 512px;
$mute22-total-width: 5120px;
$mute22-total-height: 5120px;
$mute22-image: '../images/sprite.png';
$mute22: 0px 0px 0px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$mute23-x: 3584px;
$mute23-y: 1024px;
$mute23-offset-x: -3584px;
$mute23-offset-y: -1024px;
$mute23-width: 512px;
$mute23-height: 512px;
$mute23-total-width: 5120px;
$mute23-total-height: 5120px;
$mute23-image: '../images/sprite.png';
$mute23: 3584px 1024px -3584px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$nerd4-x: 3584px;
$nerd4-y: 1536px;
$nerd4-offset-x: -3584px;
$nerd4-offset-y: -1536px;
$nerd4-width: 512px;
$nerd4-height: 512px;
$nerd4-total-width: 5120px;
$nerd4-total-height: 5120px;
$nerd4-image: '../images/sprite.png';
$nerd4: 3584px 1536px -3584px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$nerd5-x: 3584px;
$nerd5-y: 2048px;
$nerd5-offset-x: -3584px;
$nerd5-offset-y: -2048px;
$nerd5-width: 512px;
$nerd5-height: 512px;
$nerd5-total-width: 5120px;
$nerd5-total-height: 5120px;
$nerd5-image: '../images/sprite.png';
$nerd5: 3584px 2048px -3584px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$pirate4-x: 3584px;
$pirate4-y: 2560px;
$pirate4-offset-x: -3584px;
$pirate4-offset-y: -2560px;
$pirate4-width: 512px;
$pirate4-height: 512px;
$pirate4-total-width: 5120px;
$pirate4-total-height: 5120px;
$pirate4-image: '../images/sprite.png';
$pirate4: 3584px 2560px -3584px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$resting3-x: 3584px;
$resting3-y: 3072px;
$resting3-offset-x: -3584px;
$resting3-offset-y: -3072px;
$resting3-width: 512px;
$resting3-height: 512px;
$resting3-total-width: 5120px;
$resting3-total-height: 5120px;
$resting3-image: '../images/sprite.png';
$resting3: 3584px 3072px -3584px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$sad28-x: 0px;
$sad28-y: 3584px;
$sad28-offset-x: 0px;
$sad28-offset-y: -3584px;
$sad28-width: 512px;
$sad28-height: 512px;
$sad28-total-width: 5120px;
$sad28-total-height: 5120px;
$sad28-image: '../images/sprite.png';
$sad28: 0px 3584px 0px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$sad29-x: 512px;
$sad29-y: 3584px;
$sad29-offset-x: -512px;
$sad29-offset-y: -3584px;
$sad29-width: 512px;
$sad29-height: 512px;
$sad29-total-width: 5120px;
$sad29-total-height: 5120px;
$sad29-image: '../images/sprite.png';
$sad29: 512px 3584px -512px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$sad30-x: 1024px;
$sad30-y: 3584px;
$sad30-offset-x: -1024px;
$sad30-offset-y: -3584px;
$sad30-width: 512px;
$sad30-height: 512px;
$sad30-total-width: 5120px;
$sad30-total-height: 5120px;
$sad30-image: '../images/sprite.png';
$sad30: 1024px 3584px -1024px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$sad31-x: 1536px;
$sad31-y: 3584px;
$sad31-offset-x: -1536px;
$sad31-offset-y: -3584px;
$sad31-width: 512px;
$sad31-height: 512px;
$sad31-total-width: 5120px;
$sad31-total-height: 5120px;
$sad31-image: '../images/sprite.png';
$sad31: 1536px 3584px -1536px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$sad32-x: 2048px;
$sad32-y: 3584px;
$sad32-offset-x: -2048px;
$sad32-offset-y: -3584px;
$sad32-width: 512px;
$sad32-height: 512px;
$sad32-total-width: 5120px;
$sad32-total-height: 5120px;
$sad32-image: '../images/sprite.png';
$sad32: 2048px 3584px -2048px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$sad33-x: 2560px;
$sad33-y: 3584px;
$sad33-offset-x: -2560px;
$sad33-offset-y: -3584px;
$sad33-width: 512px;
$sad33-height: 512px;
$sad33-total-width: 5120px;
$sad33-total-height: 5120px;
$sad33-image: '../images/sprite.png';
$sad33: 2560px 3584px -2560px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$scared2-x: 3072px;
$scared2-y: 3584px;
$scared2-offset-x: -3072px;
$scared2-offset-y: -3584px;
$scared2-width: 512px;
$scared2-height: 512px;
$scared2-total-width: 5120px;
$scared2-total-height: 5120px;
$scared2-image: '../images/sprite.png';
$scared2: 3072px 3584px -3072px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$singing3-x: 3584px;
$singing3-y: 3584px;
$singing3-offset-x: -3584px;
$singing3-offset-y: -3584px;
$singing3-width: 512px;
$singing3-height: 512px;
$singing3-total-width: 5120px;
$singing3-total-height: 5120px;
$singing3-image: '../images/sprite.png';
$singing3: 3584px 3584px -3584px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$sleeping7-x: 4096px;
$sleeping7-y: 0px;
$sleeping7-offset-x: -4096px;
$sleeping7-offset-y: 0px;
$sleeping7-width: 512px;
$sleeping7-height: 512px;
$sleeping7-total-width: 5120px;
$sleeping7-total-height: 5120px;
$sleeping7-image: '../images/sprite.png';
$sleeping7: 4096px 0px -4096px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$sleepy4-x: 4096px;
$sleepy4-y: 512px;
$sleepy4-offset-x: -4096px;
$sleepy4-offset-y: -512px;
$sleepy4-width: 512px;
$sleepy4-height: 512px;
$sleepy4-total-width: 5120px;
$sleepy4-total-height: 5120px;
$sleepy4-image: '../images/sprite.png';
$sleepy4: 4096px 512px -4096px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$sleepy5-x: 4096px;
$sleepy5-y: 1024px;
$sleepy5-offset-x: -4096px;
$sleepy5-offset-y: -1024px;
$sleepy5-width: 512px;
$sleepy5-height: 512px;
$sleepy5-total-width: 5120px;
$sleepy5-total-height: 5120px;
$sleepy5-image: '../images/sprite.png';
$sleepy5: 4096px 1024px -4096px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$smiley29-x: 4096px;
$smiley29-y: 1536px;
$smiley29-offset-x: -4096px;
$smiley29-offset-y: -1536px;
$smiley29-width: 512px;
$smiley29-height: 512px;
$smiley29-total-width: 5120px;
$smiley29-total-height: 5120px;
$smiley29-image: '../images/sprite.png';
$smiley29: 4096px 1536px -4096px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$smiley30-x: 4096px;
$smiley30-y: 2048px;
$smiley30-offset-x: -4096px;
$smiley30-offset-y: -2048px;
$smiley30-width: 512px;
$smiley30-height: 512px;
$smiley30-total-width: 5120px;
$smiley30-total-height: 5120px;
$smiley30-image: '../images/sprite.png';
$smiley30: 4096px 2048px -4096px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$smiley31-x: 4096px;
$smiley31-y: 2560px;
$smiley31-offset-x: -4096px;
$smiley31-offset-y: -2560px;
$smiley31-width: 512px;
$smiley31-height: 512px;
$smiley31-total-width: 5120px;
$smiley31-total-height: 5120px;
$smiley31-image: '../images/sprite.png';
$smiley31: 4096px 2560px -4096px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$smiley32-x: 4096px;
$smiley32-y: 3072px;
$smiley32-offset-x: -4096px;
$smiley32-offset-y: -3072px;
$smiley32-width: 512px;
$smiley32-height: 512px;
$smiley32-total-width: 5120px;
$smiley32-total-height: 5120px;
$smiley32-image: '../images/sprite.png';
$smiley32: 4096px 3072px -4096px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$smiley33-x: 4096px;
$smiley33-y: 3584px;
$smiley33-offset-x: -4096px;
$smiley33-offset-y: -3584px;
$smiley33-width: 512px;
$smiley33-height: 512px;
$smiley33-total-width: 5120px;
$smiley33-total-height: 5120px;
$smiley33-image: '../images/sprite.png';
$smiley33: 4096px 3584px -4096px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$smiley34-x: 0px;
$smiley34-y: 4096px;
$smiley34-offset-x: 0px;
$smiley34-offset-y: -4096px;
$smiley34-width: 512px;
$smiley34-height: 512px;
$smiley34-total-width: 5120px;
$smiley34-total-height: 5120px;
$smiley34-image: '../images/sprite.png';
$smiley34: 0px 4096px 0px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$smiley35-x: 512px;
$smiley35-y: 4096px;
$smiley35-offset-x: -512px;
$smiley35-offset-y: -4096px;
$smiley35-width: 512px;
$smiley35-height: 512px;
$smiley35-total-width: 5120px;
$smiley35-total-height: 5120px;
$smiley35-image: '../images/sprite.png';
$smiley35: 512px 4096px -512px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$smiling25-x: 1024px;
$smiling25-y: 4096px;
$smiling25-offset-x: -1024px;
$smiling25-offset-y: -4096px;
$smiling25-width: 512px;
$smiling25-height: 512px;
$smiling25-total-width: 5120px;
$smiling25-total-height: 5120px;
$smiling25-image: '../images/sprite.png';
$smiling25: 1024px 4096px -1024px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$smiling26-x: 1536px;
$smiling26-y: 4096px;
$smiling26-offset-x: -1536px;
$smiling26-offset-y: -4096px;
$smiling26-width: 512px;
$smiling26-height: 512px;
$smiling26-total-width: 5120px;
$smiling26-total-height: 5120px;
$smiling26-image: '../images/sprite.png';
$smiling26: 1536px 4096px -1536px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$smiling27-x: 2048px;
$smiling27-y: 4096px;
$smiling27-offset-x: -2048px;
$smiling27-offset-y: -4096px;
$smiling27-width: 512px;
$smiling27-height: 512px;
$smiling27-total-width: 5120px;
$smiling27-total-height: 5120px;
$smiling27-image: '../images/sprite.png';
$smiling27: 2048px 4096px -2048px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$smiling28-x: 2560px;
$smiling28-y: 4096px;
$smiling28-offset-x: -2560px;
$smiling28-offset-y: -4096px;
$smiling28-width: 512px;
$smiling28-height: 512px;
$smiling28-total-width: 5120px;
$smiling28-total-height: 5120px;
$smiling28-image: '../images/sprite.png';
$smiling28: 2560px 4096px -2560px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$smiling29-x: 3072px;
$smiling29-y: 4096px;
$smiling29-offset-x: -3072px;
$smiling29-offset-y: -4096px;
$smiling29-width: 512px;
$smiling29-height: 512px;
$smiling29-total-width: 5120px;
$smiling29-total-height: 5120px;
$smiling29-image: '../images/sprite.png';
$smiling29: 3072px 4096px -3072px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$smiling30-x: 3584px;
$smiling30-y: 4096px;
$smiling30-offset-x: -3584px;
$smiling30-offset-y: -4096px;
$smiling30-width: 512px;
$smiling30-height: 512px;
$smiling30-total-width: 5120px;
$smiling30-total-height: 5120px;
$smiling30-image: '../images/sprite.png';
$smiling30: 3584px 4096px -3584px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$smiling31-x: 4096px;
$smiling31-y: 4096px;
$smiling31-offset-x: -4096px;
$smiling31-offset-y: -4096px;
$smiling31-width: 512px;
$smiling31-height: 512px;
$smiling31-total-width: 5120px;
$smiling31-total-height: 5120px;
$smiling31-image: '../images/sprite.png';
$smiling31: 4096px 4096px -4096px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$smiling32-x: 4608px;
$smiling32-y: 0px;
$smiling32-offset-x: -4608px;
$smiling32-offset-y: 0px;
$smiling32-width: 512px;
$smiling32-height: 512px;
$smiling32-total-width: 5120px;
$smiling32-total-height: 5120px;
$smiling32-image: '../images/sprite.png';
$smiling32: 4608px 0px -4608px 0px 512px 512px 5120px 5120px '../images/sprite.png';
$square102-x: 4608px;
$square102-y: 512px;
$square102-offset-x: -4608px;
$square102-offset-y: -512px;
$square102-width: 512px;
$square102-height: 512px;
$square102-total-width: 5120px;
$square102-total-height: 5120px;
$square102-image: '../images/sprite.png';
$square102: 4608px 512px -4608px -512px 512px 512px 5120px 5120px '../images/sprite.png';
$student11-x: 4608px;
$student11-y: 1024px;
$student11-offset-x: -4608px;
$student11-offset-y: -1024px;
$student11-width: 512px;
$student11-height: 512px;
$student11-total-width: 5120px;
$student11-total-height: 5120px;
$student11-image: '../images/sprite.png';
$student11: 4608px 1024px -4608px -1024px 512px 512px 5120px 5120px '../images/sprite.png';
$surprised14-x: 4608px;
$surprised14-y: 1536px;
$surprised14-offset-x: -4608px;
$surprised14-offset-y: -1536px;
$surprised14-width: 512px;
$surprised14-height: 512px;
$surprised14-total-width: 5120px;
$surprised14-total-height: 5120px;
$surprised14-image: '../images/sprite.png';
$surprised14: 4608px 1536px -4608px -1536px 512px 512px 5120px 5120px '../images/sprite.png';
$surprised15-x: 4608px;
$surprised15-y: 2048px;
$surprised15-offset-x: -4608px;
$surprised15-offset-y: -2048px;
$surprised15-width: 512px;
$surprised15-height: 512px;
$surprised15-total-width: 5120px;
$surprised15-total-height: 5120px;
$surprised15-image: '../images/sprite.png';
$surprised15: 4608px 2048px -4608px -2048px 512px 512px 5120px 5120px '../images/sprite.png';
$surprised16-x: 4608px;
$surprised16-y: 2560px;
$surprised16-offset-x: -4608px;
$surprised16-offset-y: -2560px;
$surprised16-width: 512px;
$surprised16-height: 512px;
$surprised16-total-width: 5120px;
$surprised16-total-height: 5120px;
$surprised16-image: '../images/sprite.png';
$surprised16: 4608px 2560px -4608px -2560px 512px 512px 5120px 5120px '../images/sprite.png';
$surprised17-x: 4608px;
$surprised17-y: 3072px;
$surprised17-offset-x: -4608px;
$surprised17-offset-y: -3072px;
$surprised17-width: 512px;
$surprised17-height: 512px;
$surprised17-total-width: 5120px;
$surprised17-total-height: 5120px;
$surprised17-image: '../images/sprite.png';
$surprised17: 4608px 3072px -4608px -3072px 512px 512px 5120px 5120px '../images/sprite.png';
$sweating2-x: 4608px;
$sweating2-y: 3584px;
$sweating2-offset-x: -4608px;
$sweating2-offset-y: -3584px;
$sweating2-width: 512px;
$sweating2-height: 512px;
$sweating2-total-width: 5120px;
$sweating2-total-height: 5120px;
$sweating2-image: '../images/sprite.png';
$sweating2: 4608px 3584px -4608px -3584px 512px 512px 5120px 5120px '../images/sprite.png';
$teardrop3-x: 4608px;
$teardrop3-y: 4096px;
$teardrop3-offset-x: -4608px;
$teardrop3-offset-y: -4096px;
$teardrop3-width: 512px;
$teardrop3-height: 512px;
$teardrop3-total-width: 5120px;
$teardrop3-total-height: 5120px;
$teardrop3-image: '../images/sprite.png';
$teardrop3: 4608px 4096px -4608px -4096px 512px 512px 5120px 5120px '../images/sprite.png';
$tired2-x: 0px;
$tired2-y: 4608px;
$tired2-offset-x: 0px;
$tired2-offset-y: -4608px;
$tired2-width: 512px;
$tired2-height: 512px;
$tired2-total-width: 5120px;
$tired2-total-height: 5120px;
$tired2-image: '../images/sprite.png';
$tired2: 0px 4608px 0px -4608px 512px 512px 5120px 5120px '../images/sprite.png';
$very6-x: 512px;
$very6-y: 4608px;
$very6-offset-x: -512px;
$very6-offset-y: -4608px;
$very6-width: 512px;
$very6-height: 512px;
$very6-total-width: 5120px;
$very6-total-height: 5120px;
$very6-image: '../images/sprite.png';
$very6: 512px 4608px -512px -4608px 512px 512px 5120px 5120px '../images/sprite.png';
$wink7-x: 1024px;
$wink7-y: 4608px;
$wink7-offset-x: -1024px;
$wink7-offset-y: -4608px;
$wink7-width: 512px;
$wink7-height: 512px;
$wink7-total-width: 5120px;
$wink7-total-height: 5120px;
$wink7-image: '../images/sprite.png';
$wink7: 1024px 4608px -1024px -4608px 512px 512px 5120px 5120px '../images/sprite.png';
$wink8-x: 1536px;
$wink8-y: 4608px;
$wink8-offset-x: -1536px;
$wink8-offset-y: -4608px;
$wink8-width: 512px;
$wink8-height: 512px;
$wink8-total-width: 5120px;
$wink8-total-height: 5120px;
$wink8-image: '../images/sprite.png';
$wink8: 1536px 4608px -1536px -4608px 512px 512px 5120px 5120px '../images/sprite.png';
$winking6-x: 2048px;
$winking6-y: 4608px;
$winking6-offset-x: -2048px;
$winking6-offset-y: -4608px;
$winking6-width: 512px;
$winking6-height: 512px;
$winking6-total-width: 5120px;
$winking6-total-height: 5120px;
$winking6-image: '../images/sprite.png';
$winking6: 2048px 4608px -2048px -4608px 512px 512px 5120px 5120px '../images/sprite.png';
$winking7-x: 2560px;
$winking7-y: 4608px;
$winking7-offset-x: -2560px;
$winking7-offset-y: -4608px;
$winking7-width: 512px;
$winking7-height: 512px;
$winking7-total-width: 5120px;
$winking7-total-height: 5120px;
$winking7-image: '../images/sprite.png';
$winking7: 2560px 4608px -2560px -4608px 512px 512px 5120px 5120px '../images/sprite.png';
$wound3-x: 3072px;
$wound3-y: 4608px;
$wound3-offset-x: -3072px;
$wound3-offset-y: -4608px;
$wound3-width: 512px;
$wound3-height: 512px;
$wound3-total-width: 5120px;
$wound3-total-height: 5120px;
$wound3-image: '../images/sprite.png';
$wound3: 3072px 4608px -3072px -4608px 512px 512px 5120px 5120px '../images/sprite.png';
$yawning6-x: 3584px;
$yawning6-y: 4608px;
$yawning6-offset-x: -3584px;
$yawning6-offset-y: -4608px;
$yawning6-width: 512px;
$yawning6-height: 512px;
$yawning6-total-width: 5120px;
$yawning6-total-height: 5120px;
$yawning6-image: '../images/sprite.png';
$yawning6: 3584px 4608px -3584px -4608px 512px 512px 5120px 5120px '../images/sprite.png';
$yawning7-x: 4096px;
$yawning7-y: 4608px;
$yawning7-offset-x: -4096px;
$yawning7-offset-y: -4608px;
$yawning7-width: 512px;
$yawning7-height: 512px;
$yawning7-total-width: 5120px;
$yawning7-total-height: 5120px;
$yawning7-image: '../images/sprite.png';
$yawning7: 4096px 4608px -4096px -4608px 512px 512px 5120px 5120px '../images/sprite.png';
$yawning8-x: 4608px;
$yawning8-y: 4608px;
$yawning8-offset-x: -4608px;
$yawning8-offset-y: -4608px;
$yawning8-width: 512px;
$yawning8-height: 512px;
$yawning8-total-width: 5120px;
$yawning8-total-height: 5120px;
$yawning8-image: '../images/sprite.png';
$yawning8: 4608px 4608px -4608px -4608px 512px 512px 5120px 5120px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
